@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;600;700&display=swap');

@fontface {
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
}

:root {
    --color1:#D99D55;
    --color2:#BF7839;
    --color3:#8C6849;
    --color4:#733D29;
    --color5:#0D0D0D;
}

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Bebas Neue', cursive;
    background-image: url('imagens/cafe.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-weight: bolder;
    text-align: center;
    font-size: 3.0em;
    color: var(--color5);
}

body,
ul {
  margin: 0px;
  padding: 0px;
}

a {
  font-size: 1.5em;
  color: var(--color5);
  text-decoration: none;
}

a:hover {
  background: var(--color1);
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logoimg {
    width: 70%;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color1);
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: white;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid var(--color1);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}