@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;600;700&display=swap');

@fontface {
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
}

:root {
    --color1:#D99D55;
    --color2:#BF7839;
    --color3:#8C6849;
    --color4:#733D29;
    --color5:#0D0D0D;
}

*{
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    font-family: 'Bebas Neue', cursive;
    background-image: url('imagens/cafe.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    text-align: center;
    font-size: 2.0em;
    color: var(--color5);
    
}

body,
ul {
  margin: 0px;
  padding: 0px;
}

a {
  font-size: 1.5em;
  color: var(--color5);
  text-decoration: none;
}

a:hover {
  background: var(--color1);
}

#logo {
  font-size: 0.5rem;
  font-weight: bold;
}

.logoimg {
    width: 60%;
}

#header {
  width: 100%;
  border: 8px solid var(--color1);
  box-sizing: border-box;
  height: 70px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color1);
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 1.5rem;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: white;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid var(--color1);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

main {
  width: 100vw;
  height: 600px;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 2px;
}

.menu ul,
.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
}

.menu li a {
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-bottom: 5px solid #000;
  padding-left: 15px;
  padding-right: 15px;
  height: 100px;
}

.menu li a:hover ,
.menu .ative a {
  border-bottom: 5px solid var(--cor1);    
  color: var(--cor1);
  background-color: #333;
}

.content {
  margin-top: 60px;
  height: 450px;
  width: 450px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}

.navigation {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform:translate(-50%);
  display: flex;
}

.bar {
  width: 50px;
  height: 17px;
  margin: 6px;
  border-radius: 5px;
  background-color: var(--color1);
  border: 2px solid var(--cor5);
  cursor: pointer;
}

.bar:hover {
  border: 1px solid var(--color5);
  background-color: var(--color1);
  transition: .5s;
}

input {
  display: none;
}

.slides {
  display: flex;
  width: 500%;
  height: 100%;
}

.slide {
  width: 20%;
  transition: .6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#slide1:checked ~ .s1 {
  margin-left: 0%;
}

#slide2:checked ~ .s1 {
  margin-left: -20%;
}

#slide3:checked ~ .s1 {
  margin-left: -40%;
}

#slide4:checked ~ .s1 {
  margin-left: -60%;
}

#slide5:checked ~ .s1 {
  margin-left: -80%;
}

footer {
  margin: auto;
  padding: 20px;
  background-color: #0D0D0D;
  color: var(--color1);
  text-align: center;
}
